# Following the approach described at
# https://caremad.io/posts/2013/07/setup-vs-requirement/

--index-url https://pypi.python.org/simple/

-e git+https://gitlab.seismo.ethz.ch/indu/ramsis.utils.git@ed1147cad1d1744d9a868546ccf28a45fbd9d157#egg=ramsis.utils
-e .[postgis]
